einops
fancyimpute==0.6
h5py
openpyxl
numpy
pandas
pytorch-lightning==1.4
pyyaml
scikit-learn
scipy
tables
tensorboard
tensorflow>=2.13.0
# tensorflow==2.5.0
# tensorflow-gpu==2.4.0
# torch==1.8
torch==1.9.0
torchvision
torchaudio
torchmetrics==0.5

# for prepare traffic datasets by tsl
torch-spatiotemporal
torch-geometric
torch_sparse
torch_scatter